<div fxLayout="row wrap">
  <div *ngFor="let item of statCardList" fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="25">
    <mat-card class="p-24" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="text-48 text-{{item.color}}">{{
          item.icon
          }}</mat-icon>
        <div class="ml-12">
          <p class="m-0  mb-4">{{ item.title }}</p>
          <h5 class="m-0 text-{{item.color}}">{{ item.amount }}</h5>
        </div>
      </div>
      <button mat-icon-button matTooltip="view more">
        <mat-icon class="mat-18">arrow_right_alt</mat-icon>
      </button>
    </mat-card>
  </div>
</div>

<mat-card style="background-color: #243e69">
  <mat-card-title>
    <div class="flex-x-btw flex-y-center pl-1 ">
      <p class="pr-1 pr-1 mb-0 txt-primary">
        <span (click)="mostrarMetricasPosto = !mostrarMetricasPosto"
          style="display: flex; align-items: center; cursor: pointer; color: white; font-size: 24px;">
          <span>Estatística dos Postos de Abastecimento</span>
          <mat-icon [innerText]="mostrarMetricasPosto ? 'expand_more' : 'expand_less'"></mat-icon>
        </span>
      </p>
    </div>
  </mat-card-title>

  <mat-card-content class="mb-16 mt-0" *ngIf="mostrarMetricasPosto">

    <div>
      <mat-card>
        <div class="mt--72" height="400" echarts [options]="graficoPostosProvincia" style="height: 500px"></div>
      </mat-card>
    </div>

    <div class="mt--72">
      <div fxLayout="row wrap">
        <div fxFlex="100">
          <div fxLayout="row wrap">

            <div fxFlex="100%" fxFlex.gt-xs="calc(50% - 16px)">
              <mat-card>
                <div echarts [options]="doughNutPie1Options" style="height: 400px"></div>
              </mat-card>
            </div>

            <div fxFlex="100%" fxFlex.gt-xs="calc(50% - 16px)">
              <mat-card>
                <div echarts [options]="doughNutPie2Options" style="height: 400px"></div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card style="background-color: #243e69">
  <mat-card-title>
    <div class="flex-x-btw flex-y-center pl-1 ">
      <p class="pr-1 pr-1 mb-0 txt-primary">
        <span (click)="mostrarMetricasUsuarios = !mostrarMetricasUsuarios"
          style="display: flex; align-items: center; cursor: pointer; color: white; font-size: 24px;">
          <span>Estatística de Utilizadores da Plataforma</span>
          <mat-icon [innerText]="mostrarMetricasUsuarios ? 'expand_more' : 'expand_less'"></mat-icon>
        </span>
      </p>
    </div>
  </mat-card-title>

  <mat-card-content class="mb-16 mt-0" *ngIf="mostrarMetricasUsuarios">

    <div>
      <mat-card>
        <div class="mt--72" height="400" echarts [options]="graficoPostosProvincia" style="height: 500px"></div>
      </mat-card>
    </div>

    <div>
      <mat-card>
        <div class="mt--72" height="400" echarts [options]="graficoBarraInvetidoPostosProvincia"></div>
      </mat-card>
    </div>

    <div>
      <mat-card>
        <div class="mt--72" height="400" echarts [options]="graficoLinhaPostosProvincia"></div>
      </mat-card>
    </div>

    <div class="mt--72">
      <div fxLayout="row wrap">
        <div fxFlex="100">
          <div fxLayout="row wrap">

            <div fxFlex="100%" fxFlex.gt-xs="calc(50% - 16px)">
              <mat-card>
                <div echarts [options]="doughNutPie1Options" style="height: 400px"></div>
              </mat-card>
            </div>

            <div fxFlex="100%" fxFlex.gt-xs="calc(50% - 16px)">
              <mat-card>
                <div echarts [options]="doughNutPie2Options" style="height: 400px"></div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>