.sticky {
  position:-webkit-sticky!important; position:sticky!important; top:0!important;
}

.sticky-header {
  position:-webkit-sticky!important; position:sticky!important; top:0!important;
  z-index: 1001!important;
  width: 100%;
}

.fixed {
  position:fixed;;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.position-relative {
  position: relative;
}

.top-0 { top:0;}
.bottom-0 {bottom: 0;}
.right-0 {right: 0;}
.left-0{left: 0;}
